html{
  padding: 0px;
}
body {
  background-color: #F6F6F6;
  padding: 0px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}
a {
  color: #849ec2;
}
h1{
  color: white;
}
h1 small{
  color: #bdcb8a;
}
/** HEADER **/
header{
  min-height: 280px;
  background-color: #7f933d;
}
header div#banner{
  height: 260px;
}
header h1{ font-size:4.5rem; }
header h4{ color:#fef7c6; }
img#bannerimg{
  height: 200px;
}
ul.nav.navbar-nav li{
  border-bottom: 5px solid transparent;
  transition: 0.5s;
}
ul.nav.navbar-nav li:hover{
  border-bottom: 5px solid #7F933D;
}
ul.nav.navbar-nav li:hover a{
  color: #7F933D;
}
/** BODY **/
.row{
  padding: 12px 0px;
}
.chapter{
  min-height: 300px;
}
.row h3{
  color: #BDCB8A;
  text-align: center;
  margin: 60px 0px;
}
/*table*/
.fa-apple{
  transition: 0.6s;
}
.fa-apple.green{
  color: #84993e;
  text-shadow: 0px 0px 10px #7F933D;
}

/*howto*/
.carousel-control.left,
.carousel-control.right{
  background-image: none;
}
h3.h3fix{ margin-bottom: 0px}
/*tryit*/
#try form{
  width: 550px;
  display: block;
  margin: auto;
}
#try form div.form-group{
  display: inline-block;
}
#try form input:focus{
  border: solid #7F933D 1px;
  box-shadow: 0px 0px 5px #7F933D ;
}
input.form-control.info{
  width: 120px;
}
input.form-control.axis{
  width: 60px;
}
button[type="submit"]{
  color: white;
  background-color: #7F933D;
  border: solid #7F933D 1px;
}
button[type="submit"]:hover,
button[type="submit"]:focus{
  color: #7F933D;
  background-color: #bdcb8a;
}
/*archi*/
img.arch{
  display: block;
  margin: auto;
  opacity: 0.9;
}
/*team*/
ul.coworker{
  padding-left:0px;
  list-style-type: none;
}
ul.coworker li{
  font-size: 3rem;
  margin: 10px 0px;
  text-align: center;
}
@media only screen and (max-width: 770px) {
  img#bannerimg{
    display: none;
  }
}
/*typed*/
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}